ul{
    list-style type:none;
    padding:0%
    margins:10%
}
li{
    float:left;
}
li a{
    display :block;
    padding:18px.150px;
    text-decoration: none;
    top:0;
    width:100%
}
h1{
    position: fixed;
    top:0%;
    width:100%

}